:root {
  --primary: #0b6db7;
}

.footer {
  border-top: 2px solid #fff;
  padding: 60px 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.footer-item h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-item p {
  font-size: 14px;
  color: var(--muted);
  margin-bottom: 10px;
}

.social-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 50px;
  height: 50px;
  background: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.btn-learn {
  background: var(--primary);
  color: #fff;
  padding: 12px 40px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  width: 245px;
}

@media (min-width: 800px) {
    .footer {
    padding: 20px 80px;
  }

  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .social-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}